extends layout

block content

  h1 About Us
  p
    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem quia laboriosam inventore, aliquid, tempore obcaecati doloribus tempora optio fugit repellat autem esse sed facere, aperiam similique. Animi fuga, magnam ex.  Lorem ipsum dolor sit amet, consectetur adipisicing elit.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime numquam eaque fugiat voluptates reprehenderit voluptas, nemo perferendis iste! Temporibus, repellat iure reprehenderit, neque quibusdam tempora aut eius maxime amet eos. 
  ul
    li Animi fuga, magnam ex.  Lorem ipsum dolor sit amet, consectetur
    li Tempore obcaecati doloribus tempora optio fugit repellat autem esse
    li Exercitationem quia laboriosam inventore, aliquid