- var HOMEPAGE = false;
block variables

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', href='/favicon.ico')
  body
    include ./includes/navbar.jade
    if HOMEPAGE
      include ./includes/showcase.jade
    .container
      block content
      hr
      footer
        p © 2015 Company, Inc.
    // /container

    script(src="https://code.jquery.com/jquery-2.1.4.js")
    script(src='/javascripts/bootstrap.min.js')
